#homeMap {
	min-width: 100%;
	min-height: 100%;
}

.esriLayerList .esriToggleButton {
	padding: 10px 25px 0 0;
}

.esriControlsBR { display: none; }

#container-map {
	position: relative;
}

@media (min-width: 992px) {
	/*.esriList {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	}*/

	#map-overlays-trigger {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 50;
	}

	#map-overlays {
		position: absolute;
		z-index: 100;
		top: 50px;
		left: 60%;
		right: 15px;
		bottom: 0;
	}

}
