<nav class="navbar navbar-default">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">ESRI Maps</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="{{ '/' | prepend: site.baseurl }}">ESRI &amp; Leaflet <i class="fa fa-fw fa-thumbs-up"></i></a></li>
				<li><a href="{{ '/mapbox' | prepend: site.baseurl }}">MapBox w/ ESRI Data <i class="fa fa-fw fa-thumbs-up"></i></a></li>
				<li><a href="{{ '/arcgis-js-api' | prepend: site.baseurl }}">ArcGIS JS API <i class="fa fa-fw fa-thumbs-down"></i></a></li>
				<li><a href="{{ '/gis' | prepend: site.baseurl }}">ArcGIS Web Viewer <i class="fa fa-fw fa-thumbs-down"></i></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://github.com/Commbocc/esriTest#hillsborough-county-map">
					<i class="fa fa-fw fa-github"></i> Documentation
				</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>
